

<nav class="menu">

<head>
<link rel="stylesheet" href="style.css">
 <title>Détails du Projet</title>
header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 1rem 2rem;
  background-color: white;
}

</head>

<body>
.button-primary { background-color: blue; }
.container {
    display: flex;
    justify-content: center; 
    align-items: center;    
}
.column {
    flex-direction: column; 
}

     
      h1 {
    color: rgb(101, 101, 245);
}
</body>

</nav>